.AdvancedSearch {
  width: 100%;
  color:whitesmoke;
  background-color: transparent;
  height: 0px;
  overflow: hidden;
  transition: .2s linear;
}

.AdvancedSearchClicked {
  transition: .2s linear;
  height: auto;
}

.advanced-search-form {
  display: flex;
  padding: 0px 40px 40px 40px;
}

.filter-by-type,
.filter-by-players,
.filter-by-age,
.filter-by-genre {
  padding: 0px 20px;

}