.Carousel {
  background-color: #15171a;
  align-content: center;
  display: grid;
  grid-template-areas:
    "genre genre genre"
    "left mid right"
    "popup popup popup"
}

.genre {
  grid-area: genre;
  margin: 0px;
  text-align: left;
  font-size: 22px;
  font-weight: 600;
  color: #FFF;
  padding: 23px 0px 0px 38px;
}

.scroll-container {
  grid-area: mid;
  display: flex;
  overflow: scroll;
}

.fa-angle-right,
.fa-angle-left {
  font-size: 42px;
  color: #FFF;
  width: 5%;
  display: inline-block;
  padding: 138px 0px;
  z-index: 1;
}

.fa-angle-right:hover,
.fa-angle-left:hover {
  cursor: pointer;
}

.fa-angle-left {
  grid-area: left;
}

.fa-angle-right {
  grid-area: right;
  padding-left: 4px;
}

.PopUp {
  grid-area: popup;
}