.Carousel {
  min-height: 33.33%;
  background-color: #d3d3d3;
  align-content: center;
  padding: 10px;
  display: grid;
  grid-template-columns: 2% 96% 2%;
  grid-template-areas: 
  "genre genre genre"
  "left mid right"
  "popup popup popup"
}

.genre{
  grid-area: genre;
  margin: 0px;
  text-align: left;
  font-size: 23px;
}

.scroll-container {
  grid-area: mid;
  display: flex;
  overflow: scroll;
}

.game-card {
  background: #fff;
  height: 78%;
  padding: 24px 0px;
  border-radius: 5px;
  width: 235px;
  margin: 15px 10px 5px 10px;
}

.game-card:hover {
  cursor: pointer;
}

.carousel-image {
  height: 180px;
  max-width: 400px;
}

.game-card-header {
  display: block;
  padding: 0px 30px 30px 30px;
  width: 180px;
}

.fa-angle-right,
.fa-angle-left {
  font-size: 30px;
  color: #000;
  width: 5%;
  display: inline-block;
}

.fa-angle-left{
  grid-area: left;
}

.fa-angle-right{
  grid-area: right;
}

.PopUp{
  grid-area: popup;
}