.HomePage{
  background:#141414;
  height:100vh;
  font-size: 3rem;
  color: #ff1818;
  letter-spacing: 3.5px;
  display:grid;
  align-content: center;
  text-align: center;
}

.gameflix-title {
  margin: 0px;

}

.mission-statement {
  padding: 3% 0%;
  text-align: center;
  font-size: 22px;
  margin: auto;
}

.enter-button{
  display:block;
  margin: 0 auto;
  background: #ff1818;
  font-size: 1rem;
  display: grid;
  color:#141414;
  font-weight: 800;
  align-content: center;
  justify-content: center;
  height:100px;
  width:100px;
  border-radius: 50%;
  transition: all 1s ease;
}

.enter-button:hover{
  cursor: pointer;
  height:110px;
  width:110px;
  border:solid darkred 1px;
}