.PopUp {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 500px;
  animation: openPopUp 0.4s ease-out forwards;
}

@keyframes openPopUp {
  0% {
    height: 0px;
  }

  100% {
    height: 500px;
  }
}

.fa-times {
  position: relative;
  font-size: 14px;
  border: 2px solid grey;
  padding: 1px 1px;
  border-radius: 5px;
  border-style: outset;
  background-color: darkgray;
  margin-right: 570px;
  margin-top: 3px;
}

.fa-times:hover {
  cursor: pointer;
}

.game-name {
  font-size: 44px;
  margin: 0px auto;
  padding-bottom: 15px;
  border-bottom: 2px black solid;
  width: 90%;
  font-family: Staatliches;
}

.game-info {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px black solid;
  width: 90%;
  padding: 10px 0px;
  margin: 0px auto 10px auto;
}

.age-range,
.num-of-players,
.num-of-minutes {
  display: inline-block;
}

.difficulty-level {
  border-bottom: 2px black solid;
  margin: 10px auto;
  width: 90%;
  padding-bottom: 15px;

}

.fa-thermometer-quarter,
.fa-thermometer-half,
.fa-thermometer-full {
  font-size: 25px;
  padding-left: 10px;
}

.fa-thermometer-quarter {
  color: green;
}

.fa-thermometer-half {
  color: orange;
}

.fa-thermometer-full {
  color: red;
}

.game-description {
  width: 90%;
  margin: 10px auto;
  border-bottom: 2px black solid;
  padding-bottom: 15px;
}

.popup-image {
  height: 200px;
}

.youtube-video {
  object-fit: contain;
  height: 500px;
}

@media screen and (max-width: 770px) {
  .PopUp {
    grid-template-columns: 1fr;
  }

  .youtube-video {
    display: none;
  }
}