.SearchPage {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  overflow: scroll;
  /* filter: grayscale(.9); */
}

.SearchPage .search-popup {
  background-color: whitesmoke;
  border: 6px solid black;
  border-radius: 5px;
  position: fixed;
  min-height: 40%;
  min-width: 1000px;
  max-width: 550px;
  width: 40%;
  left: 4%;
  top: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}