.SearchPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color:#fff;
  height: 90%;
  overflow: scroll;
  background:#151719;
}

.search-results-counter{
  width: 100%;
  font-size: 1.25rem;
  text-align: left;
  color: #900000;
  padding: 10px 0px 0px 50px;
  font-weight: 600;
}

.SearchPage .search-popup {
  background-color: #fff;
  color: #000;
  border: 6px solid black;
  border-radius: 5px;
  position: fixed;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding:1%;
  margin-top: 5%;
}

@media screen and (max-width: 880px) {
  .SearchPage .search-popup {
    grid-template-columns: 1fr;
    margin-top: 1%;
  }

  .youtube-video {
    display: none;
  }
}