.SearchPage {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  overflow: scroll;
  /* filter: grayscale(.9); */
}

.SearchPage .search-popup {
  background-color: #8a2be2;
  position: fixed;
  height: 40%;
  min-width: 300px;
  max-width: 550px;
  width: 40%;
  left: 35%;
  top: 30%;
}