.Carousel {
  /* height: 33.33%; */
  background-color: red;
  align-content: center;
  display: flex;
}
.scroll-container {
  display: flex;
  overflow: scroll;

}

.carousel-game {
  /* height: 200px; */
}

.game-card {
  background: peru;
  height: 100%;
  width:200px;
  margin:5px 10px;
}

.carousel-image {
  height: 180px;
}