.Carousel {
  height: 33.33%;
  background-color: red;
  align-content: center;
  display: flex;
}
.scroll-container{
  display: flex;
  overflow: scroll;

}

.carousel-game{
  background: peru;
  min-width:200px;
  margin:5px 10px;
}

.carousel-image {
  height: 180px;
}